
@font-face {
  font-family: 'Josefin Sans';
  font-style: light;
  font-weight: 100;
  font-display: auto;
  src: local('Josefin Sans Light'), local('JosefinSans-Light'),
       url('../fonts/JosefinSans-light.ttf') format('truetype'), /* Safari, Android, iOS */
}