
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: local('Josefin Sans Italic'), local('JosefinSans-Italic'),
       url('../fonts/JosefinSans-VariableFont_wght.ttf') format('truetype'), /* Safari, Android, iOS */
}